{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe - Peinture Auto Expert{% endblock %}

{% block content %}
<h1> Mon compte</h1>
<h4><a href={{ path('account')}}> Retourner à mon compte </a></h4>
<hr>
{% if notification %}
<div class="alert alert-success" role="alert">{{ notification }}</div>
{% endif %}
{{ form(form) }}

{% endblock %}
