{% extends 'base.html.twig' %}


{% block content %}

    <style>
        /* Ajoutez votre CSS personnalisé ici */
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
     

       
        
    </style>
    <div class="container mt-5">
        <h1 class="text-center">CONDITIONS GÉNÉRALES DE VENTE</h1>
        <h2 class="text-center">& Mentions Légales</h2>

        <section class="clause">
            <h3>Clause n° 1 : Objet et champ d'application</h3>
            <p>Les présentes conditions générales de vente (CGV) constituent le socle de la négociation commerciale et sont systématiquement adressées ou remises à chaque acheteur pour lui permettre de passer commande.</p>
            <p>Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société PeintureAuto Expert et de son client dans le cadre de la vente des marchandises suivantes : la peinture automobile ainsi que la fourniture de carrosserie et matériel relatif.</p>
            <p>Toute acceptation du devis/bon de commande en ce compris la clause « Je reconnais avoir pris connaissance et j'accepte les conditions générales de vente ci-annexées » implique l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 1 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 2 : Prix</h3>
            <p>Les prix des marchandises vendues sont ceux en vigueur le jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de transport applicables au jour de la commande.</p>
            <p>La société PeintureAuto Expert s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.</p>
            <p>Rabais et ristournes Les tarifs proposés comprennent les rabais et ristournes que la société PeintureAuto Expert serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

         <section class="clause">
            <h3>Clause n° 3 : Rabais et ristournes</h3>
            <p>Les tarifs proposés comprennent les rabais et ristournes que la société PeintureAuto Expert serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

         <section class="clause">
            <h3>Clause n° 4 : Escompte</h3>
            <p>Aucun escompte ne sera consenti en cas de paiement anticipé.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        
         <section class="clause">
            <h3>Clause n° 5 : Modalités de paiement</h3>
            <p>Le règlement des commandes s'effectue :</p>
            <ul>
            <li>Soit par carte bancaire ( CB, Visa, MasterCard ).</li>
            <li>Soit par paypal.</li>
            </ul>
            <h5>Sécurité des transactions</h5>
            Le paiement par carte de crédit est assuré par BNP Paribas reconnu pour sa fiabilité en matière de transactions sur Internet. 
            <p>La transaction qui se fait entre vous et BNP Paribas est cryptée (SSL). </p>
             <p>   Les informations bancaires que vous donnez, cryptées sur votre propre ordinateur, ne circuleront jamais en clair sur Internet.</p>
              <p>  Aucun numéro de carte bancaire n'est stocké chez le commerçant ou temporairement le temps de vérification et de saisie du code dans le TPE. </p>
            
            <h5>Certificat de sécurité</h5>
            <p>Afin de garantir au mieux la sécurité au sein de notre site et la confidentialité des informations y circulant, nous avons mis en place un certificat de sécurité vous permettant de vérifier que la connexion avec le site sur lequel vous êtes est parfaitement fiable. Ce certificat apparaît dans une petite fenêtre sur le site. En cliquant sur logo, vous avez accès à un ensemble d'informations vous permettant de nous identifier. Vous pouvez aussi cliquer sur le cadenas apparaissant en bas de votre navigateur, il vous permettra de connaître avec exactitude les caractéristiques de ce certificat.</p>

        </section>

        <section class="clause">
            <h3>Clause n° 6 : Retard de paiement</h3>
            <p>En cas de défaut de paiement total ou partiel des marchandises livrées à l'échéance, l'acheteur doit verser à la société PeintureAuto Expert une pénalité de retard égale à trois fois le taux de l'intérêt légal.</p>
            <p>Le taux de l'intérêt légal retenu est celui en vigueur au jour de la livraison des marchandises.</p>
            <p>A compter du 1er janvier 2015, le taux d'intérêt légal sera révisé tous les 6 mois (Ordonnance n°2014-947 du 20 août 2014).</p>
            <p>Cette pénalité est calculée sur le montant TTC de la somme restant due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.</p>
            <p>En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d'exigibilité, produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement.</p>
            <p>Articles 441-10 et D. 441-5 du code de commerce.</p>
        </section>

          <section class="clause">
            <h3>Clause n° 7 : Clause résolutoire</h3>
            <p>Si dans les quinze jours qui suivent la mise en œuvre de la clause "Retard de paiement", l'acheteur ne s'est pas acquitté des sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir droit à l'allocation de dommages et intérêts au profit de la société PeintureAuto Expert.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 8 : Clause de réserve de propriété</h3>
            <p>La société PeintureAuto Expert conserve la propriété des biens vendus jusqu'au paiement intégral du prix, en principal et en accessoires. À ce titre, si l'acheteur fait l'objet d'un redressement ou d'une liquidation judiciaire, la société PeintureAuto Expert se réserve le droit de revendiquer, dans le cadre de la procédure collective, les marchandises vendues et restées impayées.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

         <section class="clause">
            <h3>Clause n° 9 : Livraison</h3>
            <p>La commande sera exécutée au plus tard dans un délai de 7 jours ouvrés à compter du jour suivant celui où le consommateur a passé sa commande. En cas d'indisponibilité du produit commandé, notamment du fait de nos fournisseurs, le consommateur en sera informé au plus tôt et aura la possibilité d'annuler sa commande. Le consommateur aura alors le choix de demander soit le remboursement des sommes versées dans les 30 jours au plus tard de leur versement, soit l'échange du produit.</p>
            <p>La livraison est effectuée :</p>
            <ul>
            <li><b>soit par la remise directe de la marchandise à l'acheteur ;</b></li>
            <li><b>soit par l'envoi d'un avis de mise à disposition en magasin à l'attention de l'acheteur ;</b></li>
            <li><b>soit par le dépôt de la marchandise au lieu indiqué par l'acheteur sur le bon de commande.</b></li>
            </ul>
            <p>Le délai de livraison indiqué lors de l'enregistrement de la commande n'est donné qu'à titre indicatif et n'est aucunement garanti.</p>
            <p>Par voie de conséquence, tout retard raisonnable dans la livraison des produits ne pourra pas donner lieu au profit de l'acheteur à :</p>
            <ul>
            <li><b>l'allocation de dommages et intérêts ;</b></li>
            <li><b>l'annulation de la commande.</b></li>
            </ul>
            <p>Le risque du transport est supporté en totalité par l'acheteur.</p>
            <p>En cas de marchandises manquantes ou détériorées lors du transport, l'acheteur devra formuler toutes les réserves nécessaires sur le bon de commande à réception desdites marchandises. Ces réserves devront être, en outre, confirmées par écrit dans les cinq jours suivant la livraison, par courrier recommandé AR adressé à la société.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 10 : Modalité de livraison </h3>
            <p>Les produits sont livrés à l'adresse indiquée par le consommateur sur le bon de commande (en France Métropolitaine uniquement).</p>
            <p>Le consommateur est tenu de vérifier l'état de l'emballage de la marchandise à la livraison et de signaler les dommages dû au transporteur sur le bon de livraison, ainsi qu'à la société, dans un délai de 48 heures. </p>
            <p>Le consommateur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation et non à l'adresse de livraison en validant l'option prévue à cet effet sur le bon de commande. </p>
            <p>En ce qui concerne l'expédition, nous travaillons essentiellement avec <b>Colissimo Suivi (La Poste),TNT Express (groupe FedEx) et Chronopost.</b> Dès que nous procédons à un envoi, vous recevez immédiatement un mail d'information.</p>
           <p>En cas d'absence, le colis pourra être déposé dans un point relais, en général, proche de votre adresse de livraison.</p>
           <p>Certains transporteurs se réservent le droit de déposer le colis en point relais, même en cas de présence à votre domicile.</p>
           <p>Dans le cas où le colis serait retourné à la société PeintureAuto Expert, par exemple, si le client ne va pas récupérer son colis en point relais, ce dernier devra s'acquitter des frais de port pour la réexpédition de son colis. </p>
           <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 11 : FRAIS DE PORT</h3>
            <p>Les frais de port varient en fonction du poids des colis et de votre adresse de livraison. La société <b>Peinture Auto Expert</b> n'est pas décisionnaire du remboursement des frais de port n'étant pas responsable du retard de livraison (raison pour laquelle les frais de port peuvent être réclamés). </p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 12 : LA POSTE / TNT / Chronopost</h3>
            <p>Pour réduire au maximum les frais de transport, tous les produits d’encombrement faible ou moyen sont expédiés par colis avec Colissimo Suivi,TNT FedEx ou Chronopost au choix. Outre le fait d’être économique, ces services livrent en 48/72H dans toute la France et vous pourrez réclamer une mise à disposition en point de retrait à proximité de votre adresse de livraison. Concrètement, si vous êtes absent le jour de la livraison, le livreur vous laissera un avis de passage dans votre boîte aux lettres ou informatiquement par le biais du suivi de colis, qui vous permettra de retirer votre colis au point de retrait pendant les heures d’ouverture, dans un délai de 10 jours. Colissimo Suivi,, Chronopost et TNT FedEx sont des services très fiables. Toutefois, il se peut, comme dans toute expédition, qu’il puisse y avoir un retard de livraison ou que le produit s’égare. En cas de retard de livraison par rapport à la date que nous vous avons indiquée dans le mail d’expédition, nous vous demandons de nous le signaler en nous appelant par téléphone ou en nous envoyant un mail depuis le formulaire de contact. Nous contacterons alors le transporteur pour faire démarrer une enquête. Une enquête peut durer jusqu’à 21 jours à compter de la date de début de l’enquête. Si pendant ce délai, le produit est retrouvé, il sera réacheminé immédiatement à votre domicile (la majorité des cas). Si en revanche le produit n’est pas retrouvé à l’issue du délai de 21 jours d’enquête, le transporteur considère le colis comme perdu. C’est seulement à ce moment que nous pouvons vous renvoyer un produit de remplacement, à nos frais. Si le ou les produits commandés n’étaient plus disponibles à ce moment, nous vous rembourserions le montant des produits concernés par la perte du transporteur. Si le ou les produits étaient encore disponibles, mais avaient changé de prix de vente sur le site, nous appliquerions les nouveaux prix de vente, soit en vous remboursant de la différence, soit en demandant un complément concernant cet écart de prix. Nous déclinons toute responsabilité quant à l’allongement des délais de livraison du fait du transporteur, notamment en cas de perte des produits ou de grève.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 13 : Problèmes de livraison du fait du transporteur</h3>
            <p> Toute anomalie concernant la livraison (avarie, produit manquant par rapport au bon de livraison, colis endommagé, produits cassés…) devra être impérativement indiquée sur le bon de livraison sous forme de "réserves manuscrites", accompagnée de la signature du client. Le consommateur devra parallèlement confirmer cette anomalie en adressant au transporteur dans les deux (2) jours ouvrables suivants la date de livraison un courrier recommandé avec accusé de réception exposant lesdites réclamations. Le consommateur devra transmettre copie de ce courrier par mail ou par simple courrier à notre service client :</p>
            <b>Peinture Auto Expert</b><br>
            <b>Service Client</b><br>
            <b>69 Aveneu de la division Leclerc 93430 Villetaneuse</b><br>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 14 : Erreurs de livraison</h3>
            <p>Le consommateur devra formuler auprès de la société <b>Peinture Auto Expert</b> le jour même de la livraison ou au plus tard le premier jour ouvré suivant la livraison, toute réclamation d'erreur de livraison et/ou de non conformité des produits en nature ou en qualité par rapport aux indications figurant sur le bon de commande. Toute réclamation formulée au delà de ce délai sera rejetée.</p>
            <p>La formulation de cette réclamation auprès de la société <b>Peinture Auto Expert</b> pourra être faite : </p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
            <span> -  en priorité par téléphone au <b>05 33 120 100 </b>du lundi au vendredi de 9h à 12h</span><br>
            <span> -  en vous connectant sur notre site dans la rubrique <b>"Mon Compte", puis "Contacter le service client </b>"où, vous pourrez nous poser votre question en précisant bien la référence de la commande.</span><br>
            <span> -  Toute réclamation non effectuée dans les règles définies ci-dessus et dans les délais impartis ne pourra être prise en compte et dégagera la société <b>Peinture Auto Expert </b>de toute responsabilité vis à vis du consommateur.</span></br>
            <span> -  A réception de la réclamation, la société <b>Peinture Auto Expert</b> s'engage à vous répondre depuis le SAV dans les meilleurs délais afin de trouver une solution appropriée. </span><br>
            <span> -  En cas d'erreur de livraison ou d'échange, tout produit à échanger ou à rembourser devra être retourné à la société <b>Peinture Auto Expert</b> dans son ensemble et dans son emballage d'origine, en Colissimo Recommandé, à l'adresse suivante :</span><br>
           <p> <b>Peinture Auto Expert</b><br>
            <b>Service Après Vente</b><br>
            <b>69 Aveneu de la division Leclerc<br> 93430 Villetaneuse</b><br></p>
            <p>Pour être accepté, tout retour devra être signalé au préalable au <b>Service Client</b> de la société <b>Peinture Auto Expert</b>. Les frais d'envoi sont à la charge de la société PeintureAuto Expert, sauf dans le cas où il s'avérerait que le produit repris ne correspond pas à la déclaration d'origine faite par le consommateur dans le bon de retour.</p>
        
        </section>

         <section class="clause">
            <h3>Clause n° 15 : Garantie des produits</h3>
            <p>Conformément à l'Article 4 du décret n°78-464 du 24 mars 1978, les dispositions des présentes ne peuvent priver le consommateur de la garantie légale qui oblige le vendeur professionnel à le garantir contre toutes les conséquences des vices cachés de la chose vendue. Le consommateur est expressément informé que la société PeintureAuto Expert n'est pas le producteur des produits présentés dans le cadre du site web, au sens de la loi n°98-389 du 19 mai 1998 et relative à la responsabilité du fait des produits défectueux. En conséquence, en cas de dommages causés à une personne ou à un bien par un défaut du produit, seule la responsabilité du producteur de celui-ci pourra être recherchée par le consommateur, sur la base des informations figurant sur l'emballage dudit produit. Les conditions et la durée de garantie producteur sont indiquées sur les fiches produits. Compte tenu de la fréquence de renouvellement des composants des produits techniques, www.peintureautoGR.com pourra, sur demande, informer le consommateur de la disponibilité des pièces de rechange des produits proposés et des modalités pour se les procurer éventuellement.</p>
            <p>Pour toute demande de prise en charge en garantie de votre produit, vous devez contacter le service client peinturevoiture.fr par mail en décrivant de manière détaillée le dysfonctionnement / problème rencontré et prendre une photo si le problème est visible. Suite à ce mail, une réponse vous sera apportée sous 24-48h jours ouvrés (hors week-ends et jours fériés) par le service client, vous indiquant ainsi la marche à suivre. L'envoi de l'article défectueux est à la charge du consommateur. Nous expédions à nos frais le produit auprès du fournisseur pour la prise en charge de garantie lorsque celle-ci est validée en amont par le service client du fournisseur. Si un surcoût survient lors de la prise en charge de l'article, ce dernier sera facturé au consommateur.  </p>
           <p>Pour rappel : La prise en charge sous garantie d'un article est déclarée nulle et non avenue si ce dernier a fait l'objet d'un démontage avec d'autres outils que ceux fournis par la marque et/ou le fabriquant du produit, d'une modification (complète ou partielle) ou tout autre altération non déclarée lors de la réception du produit, par le consommateur, auprès de son expéditeur. La déclaration de non conformité d'un article s'effectue à réception, par le biais d'une réclamation auprès du transporteur et complétée auprès de l'expéditeur par des photos et/ou vidéo.</p>
            <p>La société dispose d'un mois pour apporter une résolution au consommateur.</p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

          <section class="clause">
            <h3>Clause n° 16 : Garantie des produits</h3>
            <p> Le consommateur dispose d'un délai de 15 jours ouvrables pour retourner, à ses frais, les produits ne lui convenant pas (sauf Peinture et autres produits fabriqués à la demande).</p>
            <p>Ce délai court à compter du jour de la livraison de la commande du consommateur. Si ce délai expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.</p>
            <p>Tout retour devra être signalé au préalable auprès du Service Client de la société <b>Peinture Auto Expert</b> : </p>
            <span>-   en priorité par téléphone au <b>05 xx xx xx xx</b> . du lundi au vendredi de <b>9h à 12h et de 14h à 17h</b></span><br>
                        <span>-   en vous connectant sur notre site dans la rubrique "Mon compte/Mes commandes". Le produit devra être retourné (après validation de votre demande de retour) en Colissimo Recommandé à <b>Peinture Auto Expert</b>, 69 avenue division leclerc 93430 Villetaneuse.</span><br>
                                    <span>-   Les produits ne devront pas avoir été descellés, afin que le consommateur puisse bénéficier du droit de rétractation.</span><br>
            <p>Les produits ne devront pas avoir été descellés, afin que le consommateur puisse bénéficier du droit de rétractation.</p>
            <p>Seuls seront repris les produits renvoyés dans leur ensemble, dans leur emballage d'origine complet et intact, et en parfait état de revente. Tout produit qui aura été abîmé, ou dont l'emballage d'origine aura été détérioré, ne sera pas remboursé.</p>
            <p>• Les frais de retour sont à la charge de l'acheteur : Depuis l’entrée en vigueur de la loi Hamon, l’acheteur est dans l’obligation de prendre en charge les frais de retour en cas de rétractation.</p>
            <p>• Pour tout retour partiel d'une commande ayant bénéficié du franco de port, le montant du remboursement de l'article sera recalculé en fonction du coût de la livraison normalement appliqué.</p>
            <p>• Pour tout produit abîmé pendant le transport retour, une décote sera appliquée : la loi stipule que le marchand doit effectuer une estimation réaliste du prix auquel il pourra revendre l’article afin de calculer le montant de la décote, elle n’encadre pas le montant. Une fois la décote calculée par le marchand, cette dernière sera soustraite du prix d’achat et vous serez remboursé de la différence.</p>
            <p>Remarque : Si l'article n'est plus revendable, aucun remboursement ne sera possible. Un avoir vous sera généré.</p>
            <p>• Aucune peinture ou autre produit fabriqué à la demande (sur-mesure) ne sera repris pour n'importe quelle raison que cela soit (mauvais choix de teinte ou variante de teinte par exemple) : le droit de rétractation ne s'applique pas aux bien confectionnés à la demande, personnalisés comme la peinture que nous vendons sur notre site, conformément à la DGCCRF (Direction générale de la concurrence, de la consommation et de la répression des fraudes).</p>
            <p>• Les produits comportant une bande de garantie, tels que les pistolets à peinture, ne pourront être repris si cette bande de garantie à été ouverte, découpée ou déchirée.</p>
            <p>• Les articles soldés et/ou vous ayant permis de bénéficier d'un tarif préférentiel ne pourront pas se voir repris ni remboursés.</p>
            <p>• Dans le cas où la société<b> Peinture Auto Expert</b> accepterait le retour des marchandises au-delà des 15 jours ouvrables prévus, un avoir du montant des produits sera transmis à l'acheteur. Aucun remboursement ne pourra avoir lieu.</p>
            <p>• En cas d'exercice du droit de rétractation, la société <b>Peinture Auto Expert </b>fera tous les efforts pour rembourser le consommateur dans un délai de 15 jours. Cependant, compte tenu du caractère technique des produits vendus, ce délai pourra être étendu à 30 jours, en particulier lorsque le produit a besoin d'une vérification technique (cf produits devant être testés au préalable).</p>
            <p>Le consommateur sera alors remboursé par recrédit de son compte bancaire (transaction sécurisée) en cas de paiement par carte bancaire, via Paypal en cas de paiement par Paypal ou par chèque dans les autres cas. Un RIB peut être demandé en cas de remboursement suite à un paiement en plusieurs fois sans frais ou si la carte venait à expirer.</p>
            <p>Remarques : Veuillez noter que pour toute commande en cours de préparation l’annulation est impossible. Vous pourrez alors soit refuser votre colis à la livraison, les frais de retour/expédition seront alors déduits de votre remboursement, soit utiliser votre délai légal de rétractation (article 16 de nos CGV).</p>
            
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>


        <section class="clause">
            <h3>Clause n° 17 : Droits d'utilisation</h3>
            <p>Le droit d'utilisation des logiciels de la société PeintureAuto Expert, ainsi que ceux distribués par elle, est accordé au consommateur à titre non exclusif, personnel et non transmissible, conformément au Code de la Propriété Intellectuelle. Toutefois, au titre de l'Article L122-6-1 de ce Code, le consommateur dispose d'un droit de reproduction exclusif pour l'établissement d'une copie de sauvegarde, lorsque celle-ci est nécessaire pour préserver l'utilisation du logiciel. En tout état de cause, l'auteur du logiciel conserve un droit de propriété sur son œuvre, que le consommateur s'engage à respecter.</p>
            
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

         <section class="clause">
            <h3>Clause n° 18 : Preuve de la transaction</h3>
            <p>Les registres informatisés, conservés dans les systèmes informatiques de la société <b>Peinture Auto Expert</b> dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre les parties. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.</p>
            
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

          <section class="clause">
            <h3>Clause n° 19 :  Informations sur les produits</h3>
            <p>La société PeintureAuto Expert présente sur son site web les produits à vendre avec les caractéristiques nécessaires qui permettent de respecter <b>l'Article L 111-1 </b>du Code de la consommation, qui prévoit la possibilité pour le consommateur potentiel de connaître avant la prise de commande définitive les caractéristiques essentielles des produits qu'il souhaite acheter. Nos produits sont réservés à un usage professionnel.</p>            
            <p>Les offres présentées par la société PeintureAuto Expert ne sont valables que dans la limite des stocks disponibles.</p>           
            <p>Les peintures fabriquées sur mesure (peintures automobiles, motos, scooters, industrielles...) comportent très souvent des variantes.</p>
            <p>Ces variantes ne peuvent être déterminées qu'en ayant le véhicule sous les yeux. La société <b>Peinture Auto Expert</b> réalise donc toujours la "teinte mère", qui est la teinte principale.</p>
            <p>Dans le cas des teintes tri-couches (sous-couche nécessaire), un message indique la sous-couche correspondante à commander. Cette sous-couche est à commander séparément. Dans le cas où la sous-couche ne serait pas commandée, seule la nacre sera livrée au client.</p>
            <p>Les peintures fabriquées sur mesure (peintures automobiles, motos, scooters, industrielles...) sont réalisées en France à Villetaneuse (93430 ) .</p>
           <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

          <section class="clause">
            <h3>Clause n° 20 : Force majeure</h3>
            <p>La responsabilité de la société PeintureAuto Expert ne pourra pas être mise en œuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes conditions générales de vente découle d'un cas de force majeure. À ce titre, la force majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de<b> l'article 1148 </b>du Code civil.</p>            
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

        <section class="clause">
            <h3>Clause n° 21 : Tribunal compétent</h3>
            <p>Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.</p>
            <p>À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Bobigny ( 1/13 rue Michel de l’hospital 93008 Bobigny cedex 08/91011111 )</p>
            <p>Fait à Villetaneuse , le27/07/2023. </p>
            <p>
            <b>PeintureAuto Expert </b><br>
            <b>69 Avenue division leclerc </b><br>
            <b>93430 Villetaneuse </b><br>
            <b>SIRET : XXXXXXXXXXXX </b><br>
            <b>SIREN : XXXXXXXXXXXX </b><br>
            <b>N° TEL: 05 XX XX XX XX</b><br>            
            </p>
            <!-- ... Ajoutez le reste du contenu de la clause 2 ici ... -->
        </section>

    </div>


{% endblock %}