{% extends 'base.html.twig' %}

{% block content %}
<style>
        body {
            background-color: #f8f9fa;
        }
        
    </style>

    <div class="container mt-5">
        <h1 class="text-center">Devenir Partenaire</h1>
        <hr>
        {# <section class="clause">
                    <h3>Pourquoi un compte professionnel ?</h3>
                    <p>Profitez de réductions exclusives aux professionnels sur l’ensemble du catalogue, ainsi qu’une livraison gratuite à partir de 500€ d'achat HT.</p>
                    <p>Lorsque vous êtes connecté sur votre compte professionnel, les prix s'affichent directement Hors Taxe.</p>
                    <p><small>*Les réductions professionnelles ne sont pas cumulables avec les promotions en cours.*</small></p>
        </section> #}
    </div>


         {# form d'inscription  au Devenir Partenaire #}
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Nom">
                </div>
                <div class="form-group col-md-6">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Adresse Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="telephone">N° de Téléphone</label>
                    <input type="text" class="form-control" id="telephone" placeholder="N° de Téléphone">
                </div>
            </div>
            <div class="form-group">
                <label for="entreprise">Nom de l’entreprise</label>
                <input type="text" class="form-control" id="entreprise" placeholder="Nom de l’entreprise">
            </div>
            <div class="form-group">
                <label for="ville">Message</label>
        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message"></textarea><br><br>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="accepterCGV">
                <label class="form-check-label" for="accepterCGV">Accepter les CGV</label>
            </div>
            <!-- Continuer à ajouter d'autres champs de formulaire ici selon votre besoin -->
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>

{% endblock %}