/* The switch - the box around the slider */
.switch-comment {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
   }
   
   /* Hide default HTML checkbox */
   .switch-comment input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider-comment {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider-comment:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider-comment {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider-comment:before {
    transform: translateX(1.5em);
   }



   /***/
   .card-feedback {
    max-width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
  }
  
  .header-feedback {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .icon-feedback {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(96, 165, 250, 1);
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .icon-feedback svg {
    height: 1rem;
    width: 1rem;
  }
  
  .alert {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
  }
  
  .message {
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
  }
  
  .actions-feedback {
    margin-top: 1.5rem;
  }
  
  .actions-feedback a {
    text-decoration: none;
  }
  
  .mark-as-read, .read-feedback {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
  
  .read-feedback {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
  }
  
  .mark-as-read {
    margin-top: 0.5rem;
    background-color: rgba(249, 250, 251, 1);
    color: rgba(107, 114, 128, 1);
    transition: all .15s ease;
  }
  
  .mark-as-read:hover {
    background-color: rgb(230, 231, 233);
  }

  /* etoil**/

  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
  
  
  .rating {
   margin-inline: 5rem;
  }
  
  .message-feedback > textarea:nth-child(1) {
    width: 18rem;
  }
  