{% extends 'base.html.twig' %}

{% block title %}Nos-produits Peinture Auto Expert{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-3">
           {% include 'product/filter.html.twig' with {form : form , min: min ,max: max} only %}
        </div>
        <div class="col-md-9">

    <h1>Nos produits</h1>
    <div class="d-flex justify-content-end mb-2">
            {{ knp_pagination_sortable(products, 'Prix', 'p.price', {'class': 'btn btn-primary'}) }}
            <div style="margin-right: 10px"></div> <!-- Espacement entre les boutons -->
            {{ knp_pagination_sortable(products, 'Promo', 'p.promo', {'class': 'btn btn-secondary'}) }}
    </div>

    <div class="row product-container">

        {% for product in products %}
            <div class="col-md-4">
               {% include 'product/single_product.html.twig' %}
            </div>  
        {% endfor %}
            </div class="mt-4"> {{ knp_pagination_render(products, 'product/pagination.html.twig') }}</div>
         </div>
      </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}