{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Peinture Auto Expert{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Peinture Auto Expert</strong>
            <hr>
            01 75 34 25 49<br/>
            07 60 04 66 56<br/>
            69 Avenu de la division leclerc, 93430 Villetaneuse.<br/>
            contact@peintureautoexpert.com<br/>
        </div>
    </div>

{% endblock %}
