{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Peinture Auto Expert{% endblock %}

{% block content %}

 <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.<br/>


{% endblock %}
