{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Peinture Auto Expert{% endblock %}
{% block content %}
 <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Restriction de livraison</h4>
          <p>Vous ne pouvez pas commander ce produit en dehors de l'Île-de-France.</p>
          <hr>
          <p class="mb-0">Que souhaitez-vous faire ?</p>
          <div class="btn-group mt-3">
            <button type="button" class="btn btn-danger" onclick="supprimerProduit()">Supprimer le produit</button>
            <a href="{{ path('account_address_add')}}" type="button" class="btn btn-primary" >Modifier l'adresse de livraison</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}
