{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block content %}
<div class="loader_Page">
<div class="loader"> </div>
<p id="loader_pagee">Loading ...</p>
</div>

{% endblock %}
